.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(122,34,195);
  background-image: linear-gradient(256deg, rgba(122,34,195,1) 24%, rgba(45,253,184,1) 100%);
}

.main-container {
  display: flex;
  height: 95vh;
}

.sidenav {
  background-color: gray;
  width: 5ch;
  border-radius: 20px;
}

.sidenav-icon {
  padding: 20%
}

.content {
  
}

