.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #060622;
}

.main-container {
  display: flex;
  height: 95vh;
}

.sidenav {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: rgb(226, 226, 226);
  width: 5ch;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.sidenav-icon {
  padding: 20%
}

.content {
  background-color: red;
}

