.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #060622;
}

.main-container {
  display: flex;
  height: 95vh;
  justify-content: flex-start;
}

.sidenav {
  flex: 0 0 50px;
  background: rgb(31,57,190);
  background: radial-gradient(circle, rgba(31,57,190,1) 0%, rgba(96,76,139,1) 100%);
  color: #21262D;
  width: 5ch;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#menu {
  flex: 0 0 20%;
  background-color: #0D1117;
  border-right-style: solid;
  border-width: 1px;
  border-color: #21262D;
}

#chat {
  flex: 1 0 auto;
  background-color: #0D1117;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#chat-box {
  display: flex;
  flex-direction: column;
  height:70vh;
  overflow: auto;
}

.sidenav-icon {
  margin-left: 10px;
  margin-top: 5px;
}

#menu-header {
  margin: 0px;
  padding-bottom:24px;
  font-size: 24px;
  text-align: center;
  color: #C9D1D9;
  background-color: #090C10;
  font-weight: bold;
}

#chat-header {
  margin-top: 0px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #090C10;
  font-size: 24px;
  color: #C9D1D9;
  border-top-right-radius: 15px;
  font-weight: 300;
}

.contacts {
  font-size: 1.5ch;
  color: #C9D1D9;
  margin: 0px;
  padding: 10px 0px 10px 5px; 
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #21262D;
}

.contacts:hover, .active{
  background: rgb(31,57,190);
  background: radial-gradient(circle, rgba(31,57,190,1) 0%, rgba(96,76,139,1) 100%);
  cursor: pointer;
}

#chat-bubble {
  color: #C9D1D9;  
  background-color: #223ABC;
  border-radius: 5px;
  margin: 5vh 0px 5vh 5px;
  width: 30vw;
}

#chat-bubble-author {
  color: white;
  margin: 0px 0px 0px 5px;
}

#chat-bubble-text {
  color: white; 
  margin: 0px;
  padding: 10px 0px 5px 10px;
}