.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #060622;
}

.main-container {
  display: flex;
  height: 95vh;
  width: 99vw;
  justify-content: flex-start;
}

#sidenav {
  display: flex;
  flex-direction: column;
  flex: 0 0 50px;
  background: rgb(31,57,190);
  background: radial-gradient(circle, rgba(31,57,190,1) 0%, rgba(96,76,139,1) 100%);
  color: #21262D;
  width: 5ch;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#menu {
  flex: 0 0 20%;
  background-color: #0D1117;
  border-right-style: solid;
  border-width: 1px;
  border-color: #21262D;
}

#chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
  font-size: 20px;
  background-color: #0D1117;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#chat-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow: auto;
}

.sidenav-icon {
  margin-left: 10px;
  margin-top: 5px;
  color: black;
}

#add-button {
  margin: auto;
}

#menu-header {
  margin: 0px;
  padding: 5px 0px 20px 0px;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: #090C10;
  font-weight: bold;
}

#chat-header {
  margin: 0px;
  padding: 5px 0px 20px 0px;
  text-align: center;
  background-color: #090C10;
  font-size: 24px;
  color: #C9D1D9;
  border-top-right-radius: 15px;
  font-weight: 300;
}

.contacts {
  font-size: 1.5ch;
  color: #C9D1D9;
  margin: 0px;
  padding: 10px 0px 10px 5px; 
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #21262D;
}

.contacts:hover, .active{
  background: rgb(31,57,190);
  background: radial-gradient(circle, rgba(31,57,190,1) 0%, rgba(96,76,139,1) 100%);
  cursor: pointer;
}

#chat-bubble {
  color: #C9D1D9;  
  background-color: #223ABC;
  border-radius: 5px;
  margin: 4vh 0px 4vh 5px;
  padding: 2vh 0px 2vh 5px;
  width: 20vw;
}

#reply-bubble {
  color: #C9D1D9;  
  background-color: grey;
  border-radius: 5px;
  margin: 4vh 5px 4vh auto;
  padding: 2vh 0px 2vh 5px;
  width: 30vw;
}

#timestamp {
  margin: 0px;
  font-size: 10px;
  text-align: right;
}

#chat-write {
  background-color: #21262D;
  color: #C9D1D9;
  border-width: 0px;
  border-bottom-right-radius: 5px;
  flex: 1;
  width: 95.5%;
  min-height: 0;
  padding: 20px;
}
